@model List<DbFirstApproach.Models.Product>
@{

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">



                <div class="card">
                    <img class="card-img-top" src="data:image;base64,@item.Photo"style="max-height:400px;max-width:600px;" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/home/detail/@item.ProductID" title="View Product">@Html.DisplayFor(temp => @item.ProductName)</a></h4>
                        <p class="card-text">@item.AvailabilityStatus</p>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">@Html.DisplayFor(temp => item.Price)</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        }
        </div>
 </div>
    

